USE [QUANLY_KARA]
GO
/****** Object:  StoredProcedure [dbo].[sp_xuat_hoa_don_all]    Script Date: 12/8/2019 10:51:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ngoc anh
-- Create date: 26/06/2018
-- Description:	thong ke tat ca thong tin hoa don
-- =============================================
CREATE PROCEDURE [dbo].[sp_xuat_hoa_don_all]
	-- Add the parameters for the stored procedure here
	@tenPhong nvarchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select pd.IDDATPHONG, pd.SOTIENDATCOC,pd.thanhtoantiencoc, cttp.TENPHONG, cttp.GIOVAO, cttp.giora, cttp.THANHTIEN,
			dv.TENDICHVU, dv.DONGIA, ctdv.THANHTIEN, ctdv.SOTIENGIAM,
			tb.TENLOAIVATCHAT, tb.GIATRIVATCHAT, ctbt.SOLUONG, ctbt.THANHTIEN
	from PHONG p
	left join CHITIETDATPHONG ct on p.IDPHONG = ct.TENPHONG
	left join PHONGDAT pd on ct.idDatPhong = pd.IDDATPHONG
	left join CHITIETTIENPHONG cttp on cttp.IDDATPHONG = pd.idDatPhong
	left join HOADON hd on cttp.IDHOADON = hd.IDHOADON
	left join CHITIETDICHVU ctdv on ctdv.idHoaDon = hd.IDHOADON
	left join DichVu dv on ctdv.IDDICHVU = dv.IDDICHVU
	left join CHITIETBOITHUONG ctbt on ctbt.IDHOADON = hd.IDHOADON
	left join BANGGIATHIETBI tb on tb.IDLOAIVATCHAT = ctbt.IDLOAIVATCHAT
	where p.TENPHONG = @tenPhong
END


GO
/****** Object:  Table [dbo].[BANGGIATHIETBI]    Script Date: 12/8/2019 10:51:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIATHIETBI](
	[IDLOAIVATCHAT] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIVATCHAT] [nvarchar](50) NULL,
	[GIATRIVATCHAT] [float] NULL,
	[NHANVIENTAO] [nvarchar](50) NULL,
	[THOIGIANTAO] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBOITHUONG]    Script Date: 12/8/2019 10:51:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBOITHUONG](
	[IDLOAIVATCHAT] [int] NOT NULL,
	[IDHOADON] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
	[THOIGIANTAO] [datetime] NULL,
	[LIDOBOITHUONG] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHITIETBOITHUONG] PRIMARY KEY CLUSTERED 
(
	[IDLOAIVATCHAT] ASC,
	[IDHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDATPHONG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATPHONG](
	[IDDATPHONG] [nvarchar](50) NOT NULL,
	[TENPHONG] [int] NOT NULL,
	[IDHOADON] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[CHUYENTUPHONG] [int] NULL,
	[CHUYENDENPHONG] [int] NULL,
	[PHONGCHINH] [int] NULL,
 CONSTRAINT [PK_CHITIETDATPHONG] PRIMARY KEY CLUSTERED 
(
	[IDDATPHONG] ASC,
	[TENPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDICHVU]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDICHVU](
	[IDDICHVU] [int] NOT NULL,
	[IDHOADON] [nvarchar](50) NOT NULL,
	[IDKHUYENMAI] [int] NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NOT NULL,
	[SOTIENGIAM] [float] NULL,
 CONSTRAINT [PK_CHITIETDICHVU] PRIMARY KEY CLUSTERED 
(
	[IDDICHVU] ASC,
	[IDHOADON] ASC,
	[GHICHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETTIENPHONG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTIENPHONG](
	[IDHOADON] [nvarchar](50) NOT NULL,
	[IDKHUYENMAI] [int] NULL,
	[IDDATPHONG] [nvarchar](50) NOT NULL,
	[TENPHONG] [int] NOT NULL,
	[GIOVAO] [datetime] NULL,
	[GIORA] [datetime] NULL,
	[SOGIO] [float] NULL,
	[SOTIENGIAM] [float] NULL,
	[THANHTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHITIETTIENPHONG] PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC,
	[IDDATPHONG] ASC,
	[TENPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[IDDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[IDLOAIDICHVU] [int] NOT NULL,
	[TENDICHVU] [nvarchar](50) NULL,
	[SOLUONGTON] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[DONGIA] [float] NULL,
	[HINHANH] [nvarchar](100) NULL,
	[THOIGIANTAODV] [datetime] NULL,
	[NHANVIENTAODV] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAPHONGTHEOGIO]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAPHONGTHEOGIO](
	[IDGIAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[IDLOAIPHONG] [int] NOT NULL,
	[GIOBATDAU] [datetime] NULL,
	[GIOKETHUC] [datetime] NULL,
	[DONGIA] [float] NULL,
	[NHANVIENTAO] [nvarchar](50) NULL,
	[THOIGIANTAO] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[HOATDONG] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHOADON] [nvarchar](50) NOT NULL,
	[IDNHANVIEN] [nvarchar](10) NULL,
	[IDKHACHHANG] [int] NOT NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[HOTENKHACHHANG] [nvarchar](50) NULL,
	[SODIENTHOAI] [char](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NAMSINH] [datetime] NULL,
	[SOCMND] [varchar](20) NULL,
	[HINHANH] [nvarchar](100) NULL,
	[NHANVIENTAO] [nvarchar](50) NULL,
	[THOIGIANTAO] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[IDKHUYENMAI] [int] IDENTITY(1,1) NOT NULL,
	[IDLOAIKHUYENMAI] [int] NOT NULL,
	[TENCHUONGTRINHKHUYENMAI] [nvarchar](100) NULL,
	[GIATRIKHUYENMAI] [nvarchar](50) NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[THOIGIANTAOKM] [datetime] NULL,
	[NHANVIENTAOKM] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[HOATDONG] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHSUHOATDONG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHSUHOATDONG](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[IDHOADONG] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANTHAYDOI] [datetime] NULL,
	[NOIDUNGTHAYDOI] [nvarchar](500) NULL,
	[DANHMUCTHAYDOI] [nvarchar](50) NULL,
	[THELOAITHAYDOI] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[IDLOAIDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIDICHVU] [nvarchar](50) NULL,
	[THOIGIANTAOLDV] [datetime] NULL,
	[NHANVIENTAOLDV] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHUYENMAI]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHUYENMAI](
	[IDLOAIKHUYENMAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIKHUYENMAI] [nvarchar](50) NULL,
	[THOIGIANTAOLKM] [datetime] NULL,
	[NHANVIENTAOLKM] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[IDLOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NULL,
	[HOATDONG] [bit] NULL,
	[NGUOITAOLP] [nvarchar](50) NULL,
	[THOIGIANTAO] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[IDNHANVIEN] [nvarchar](10) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[HOATDONG] [bit] NULL,
	[NGUOITAOTAIKHOAN] [nvarchar](50) NULL,
	[THOIGIANTAOTK] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOMNGUOIDUNG] [int] IDENTITY(1,1) NOT NULL,
	[MAMANHINH] [nvarchar](10) NOT NULL,
	[COQUYEN] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MANHOMNGUOIDUNG] ASC,
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[IDPHONG] [int] IDENTITY(1,1) NOT NULL,
	[IDLOAIPHONG] [int] NOT NULL,
	[TENPHONG] [nvarchar](50) NOT NULL,
	[SOLUONGTOIDA] [int] NULL,
	[NHANVIENTAOPHONG] [nvarchar](50) NULL,
	[THOIGIANTAO] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[HOATDONG] [bit] NULL,
	[TINHTRANG] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGDAT]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGDAT](
	[IDDATPHONG] [nvarchar](50) NOT NULL,
	[IDNHANVIEN] [nvarchar](10) NULL,
	[IDKHACHHANG] [int] NULL,
	[TENNGUOIDAT] [nvarchar](100) NULL,
	[SODIENTHOAI] [nvarchar](11) NULL,
	[GIODAT] [datetime] NULL,
	[GIOVAO] [datetime] NULL,
	[GIORA] [datetime] NULL,
	[SOTIENDATCOC] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[THANHTOANTIENCOC] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_MANHINH]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_MANHINH](
	[MAMANHINH] [nvarchar](10) NOT NULL,
	[TENMANHINH] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[THOIGIANTAO] [datetime] NULL,
	[NHANVIENTAO] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MANHOMNGUOIDUNG] [int] NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_QL_NGUOIDUNG_NHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC,
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NHOMNGUOIDUNG]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NHOMNGUOIDUNG](
	[MANHOMNGUOIDUNG] [int] IDENTITY(1,1) NOT NULL,
	[TENNHOMNGUOIDUNG] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGTINNHANVIEN]    Script Date: 12/8/2019 10:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINNHANVIEN](
	[IDNHANVIEN] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SODIENTHOAI] [nvarchar](11) NULL,
	[NAMSINH] [datetime] NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[SOCMND] [varchar](20) NULL,
	[HINHANH] [nvarchar](100) NULL,
	[NGUOITAOTTNV] [nvarchar](50) NULL,
	[THOIGIANTAO] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BANGGIATHIETBI] ON 

INSERT [dbo].[BANGGIATHIETBI] ([IDLOAIVATCHAT], [TENLOAIVATCHAT], [GIATRIVATCHAT], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (1, N'Bóng đèn mờ', 20000, N'xoan', CAST(0x0000A8FD002D4C13 AS DateTime), 1, N'')
INSERT [dbo].[BANGGIATHIETBI] ([IDLOAIVATCHAT], [TENLOAIVATCHAT], [GIATRIVATCHAT], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (2, N'Loa loại 1', 500000, N'xoan', CAST(0x0000A8FD002D699B AS DateTime), 1, N'đã bị gãy chân đế')
INSERT [dbo].[BANGGIATHIETBI] ([IDLOAIVATCHAT], [TENLOAIVATCHAT], [GIATRIVATCHAT], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (5, N'loa sonic', 2500000, N'xoan', CAST(0x0000A8FD002E351C AS DateTime), 1, N'loa mới')
SET IDENTITY_INSERT [dbo].[BANGGIATHIETBI] OFF
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([IDDICHVU], [IDLOAIDICHVU], [TENDICHVU], [SOLUONGTON], [DONVITINH], [DONGIA], [HINHANH], [THOIGIANTAODV], [NHANVIENTAODV], [TRANGTHAI], [GHICHU]) VALUES (1, 1, N'Heineken', NULL, N'lon', 18000, N'heineken.jpg', CAST(0x0000A8CD00000000 AS DateTime), N'xoan', 1, NULL)
INSERT [dbo].[DICHVU] ([IDDICHVU], [IDLOAIDICHVU], [TENDICHVU], [SOLUONGTON], [DONVITINH], [DONGIA], [HINHANH], [THOIGIANTAODV], [NHANVIENTAODV], [TRANGTHAI], [GHICHU]) VALUES (2, 2, N'Sting', NULL, N'lon', 15000, N'stinglon.jpg', CAST(0x0000A8EB00000000 AS DateTime), N'xoan', 1, NULL)
INSERT [dbo].[DICHVU] ([IDDICHVU], [IDLOAIDICHVU], [TENDICHVU], [SOLUONGTON], [DONVITINH], [DONGIA], [HINHANH], [THOIGIANTAODV], [NHANVIENTAODV], [TRANGTHAI], [GHICHU]) VALUES (3, 2, N'Bò cụng', NULL, N'lon', 15000, N'bocung.jpg', NULL, N'xoan', 1, N'')
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
SET IDENTITY_INSERT [dbo].[GIAPHONGTHEOGIO] ON 

INSERT [dbo].[GIAPHONGTHEOGIO] ([IDGIAPHONG], [IDLOAIPHONG], [GIOBATDAU], [GIOKETHUC], [DONGIA], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [HOATDONG]) VALUES (1, 1, NULL, NULL, 70000, N'xoan', NULL, 0, NULL, NULL)
INSERT [dbo].[GIAPHONGTHEOGIO] ([IDGIAPHONG], [IDLOAIPHONG], [GIOBATDAU], [GIOKETHUC], [DONGIA], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [HOATDONG]) VALUES (2, 1, NULL, NULL, 75000, N'xoan', NULL, 1, NULL, NULL)
INSERT [dbo].[GIAPHONGTHEOGIO] ([IDGIAPHONG], [IDLOAIPHONG], [GIOBATDAU], [GIOKETHUC], [DONGIA], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [HOATDONG]) VALUES (3, 2, NULL, NULL, 80000, N'xoan', NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GIAPHONGTHEOGIO] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([IDKHACHHANG], [HOTENKHACHHANG], [SODIENTHOAI], [DIACHI], [GIOITINH], [NAMSINH], [SOCMND], [HINHANH], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (2, N'THINH', N'033637730  ', N'TAY NINH ', N'NAM', NULL, NULL, NULL, NULL, CAST(0x0000AB1B0128AC44 AS DateTime), 1, NULL)
INSERT [dbo].[KHACHHANG] ([IDKHACHHANG], [HOTENKHACHHANG], [SODIENTHOAI], [DIACHI], [GIOITINH], [NAMSINH], [SOCMND], [HINHANH], [NHANVIENTAO], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (3, N'THO', N'022120002  ', N'LONG AN', N'NAM', NULL, NULL, NULL, NULL, CAST(0x0000AB1B0128DA69 AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[KHUYENMAI] ON 

INSERT [dbo].[KHUYENMAI] ([IDKHUYENMAI], [IDLOAIKHUYENMAI], [TENCHUONGTRINHKHUYENMAI], [GIATRIKHUYENMAI], [NGAYBATDAU], [NGAYKETTHUC], [THOIGIANTAOKM], [NHANVIENTAOKM], [TRANGTHAI], [GHICHU], [HOATDONG]) VALUES (1, 1, N'teste', N'10', CAST(0x0000A8E200000000 AS DateTime), CAST(0x0000A90E00000000 AS DateTime), CAST(0x0000A8E200EAC47B AS DateTime), N'xoan', 1, N'test', 1)
INSERT [dbo].[KHUYENMAI] ([IDKHUYENMAI], [IDLOAIKHUYENMAI], [TENCHUONGTRINHKHUYENMAI], [GIATRIKHUYENMAI], [NGAYBATDAU], [NGAYKETTHUC], [THOIGIANTAOKM], [NHANVIENTAOKM], [TRANGTHAI], [GHICHU], [HOATDONG]) VALUES (2, 2, N'Khuyễn mãi 30/04 - 1/05', N'20', CAST(0x0000A8E200000000 AS DateTime), CAST(0x0000A8E400000000 AS DateTime), CAST(0x0000A8E200FC67B3 AS DateTime), N'xoan', 1, N'khuyễn mãi cuối tuần', 1)
INSERT [dbo].[KHUYENMAI] ([IDKHUYENMAI], [IDLOAIKHUYENMAI], [TENCHUONGTRINHKHUYENMAI], [GIATRIKHUYENMAI], [NGAYBATDAU], [NGAYKETTHUC], [THOIGIANTAOKM], [NHANVIENTAOKM], [TRANGTHAI], [GHICHU], [HOATDONG]) VALUES (3, 1, N'khuyến mãi cuối tuần', N'5', CAST(0x0000A8E200000000 AS DateTime), CAST(0x0000A8F100000000 AS DateTime), CAST(0x0000A8E201183FFA AS DateTime), N'xoan', 1, N'', 1)
SET IDENTITY_INSERT [dbo].[KHUYENMAI] OFF
SET IDENTITY_INSERT [dbo].[LOAIDICHVU] ON 

INSERT [dbo].[LOAIDICHVU] ([IDLOAIDICHVU], [TENLOAIDICHVU], [THOIGIANTAOLDV], [NHANVIENTAOLDV], [TRANGTHAI], [GHICHU]) VALUES (1, N'Bia', CAST(0x0000A8EA00000000 AS DateTime), N'xoan', 1, N'các sản phẩm bia')
INSERT [dbo].[LOAIDICHVU] ([IDLOAIDICHVU], [TENLOAIDICHVU], [THOIGIANTAOLDV], [NHANVIENTAOLDV], [TRANGTHAI], [GHICHU]) VALUES (2, N'Nước ngọt', CAST(0x0000A8EA00000000 AS DateTime), N'xoan', 1, N'nước giải khát')
INSERT [dbo].[LOAIDICHVU] ([IDLOAIDICHVU], [TENLOAIDICHVU], [THOIGIANTAOLDV], [NHANVIENTAOLDV], [TRANGTHAI], [GHICHU]) VALUES (3, N'Snack cay', CAST(0x0000A8FE00090AC1 AS DateTime), N'xoan', 1, N'bim bim các loại')
SET IDENTITY_INSERT [dbo].[LOAIDICHVU] OFF
SET IDENTITY_INSERT [dbo].[LOAIKHUYENMAI] ON 

INSERT [dbo].[LOAIKHUYENMAI] ([IDLOAIKHUYENMAI], [TENLOAIKHUYENMAI], [THOIGIANTAOLKM], [NHANVIENTAOLKM], [TRANGTHAI], [GHICHU]) VALUES (1, N'Khuyễn mãi têt ncnc', CAST(0x0000A8CA00000000 AS DateTime), N'25/04/2018', 1, N'DV')
INSERT [dbo].[LOAIKHUYENMAI] ([IDLOAIKHUYENMAI], [TENLOAIKHUYENMAI], [THOIGIANTAOLKM], [NHANVIENTAOLKM], [TRANGTHAI], [GHICHU]) VALUES (2, N'Khuyến mãi đồ ăn', CAST(0x0000A8CA00000000 AS DateTime), N'25/04/2018', 1, N'DV')
INSERT [dbo].[LOAIKHUYENMAI] ([IDLOAIKHUYENMAI], [TENLOAIKHUYENMAI], [THOIGIANTAOLKM], [NHANVIENTAOLKM], [TRANGTHAI], [GHICHU]) VALUES (3, N'Khuyến mãi phòng', CAST(0x0000A8E300C42D87 AS DateTime), N'xoan', 1, N'P')
SET IDENTITY_INSERT [dbo].[LOAIKHUYENMAI] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [HOATDONG], [NGUOITAOLP], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (1, N'Thường (nhỏ)', 1, N'xoan', CAST(0x0000A8E300000000 AS DateTime), 1, N'sức chứa dưới 10 người')
INSERT [dbo].[LOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [HOATDONG], [NGUOITAOLP], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (2, N'Thường (tb)', 1, N'xoan', CAST(0x0000A8E300000000 AS DateTime), 1, N'test')
INSERT [dbo].[LOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG], [HOATDONG], [NGUOITAOLP], [THOIGIANTAO], [TRANGTHAI], [GHICHU]) VALUES (3, N'Vip (thường)', 1, N'xoan', CAST(0x0000A8E300000000 AS DateTime), 1, N'vip thường')
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
INSERT [dbo].[NGUOIDUNG] ([TENDANGNHAP], [IDNHANVIEN], [MATKHAU], [HOATDONG], [NGUOITAOTAIKHOAN], [THOIGIANTAOTK], [TRANGTHAI], [GHICHU]) VALUES (N'xoan', N'NV002', N'1AD205227F7C598C1261D95D7DABC00E', 1, NULL, CAST(0x0000A8CA0100BA8F AS DateTime), 1, NULL)
INSERT [dbo].[NGUOIDUNG] ([TENDANGNHAP], [IDNHANVIEN], [MATKHAU], [HOATDONG], [NGUOITAOTAIKHOAN], [THOIGIANTAOTK], [TRANGTHAI], [GHICHU]) VALUES (N'quan', N'NV003', N'BJKGOOST', 1, NULL, CAST(0x0000A8D401824D7B AS DateTime), 1, NULL)
INSERT [dbo].[NGUOIDUNG] ([TENDANGNHAP], [IDNHANVIEN], [MATKHAU], [HOATDONG], [NGUOITAOTAIKHOAN], [THOIGIANTAOTK], [TRANGTHAI], [GHICHU]) VALUES (N'hoai', N'NV004', N'123', 1, N'xoan', CAST(0x0000A8DB0181CF8D AS DateTime), 1, N'')
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([IDPHONG], [IDLOAIPHONG], [TENPHONG], [SOLUONGTOIDA], [NHANVIENTAOPHONG], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [HOATDONG], [TINHTRANG]) VALUES (1, 1, N'P101', 12, N'xoan', CAST(0x0000A8E30189EB4D AS DateTime), 1, N'phòng mới', 1, N'rảnh')
INSERT [dbo].[PHONG] ([IDPHONG], [IDLOAIPHONG], [TENPHONG], [SOLUONGTOIDA], [NHANVIENTAOPHONG], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [HOATDONG], [TINHTRANG]) VALUES (2, 1, N'P102', 8, N'xoan', CAST(0x0000A8E40003ABA7 AS DateTime), 1, N'test', 1, N'rảnh')
INSERT [dbo].[PHONG] ([IDPHONG], [IDLOAIPHONG], [TENPHONG], [SOLUONGTOIDA], [NHANVIENTAOPHONG], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [HOATDONG], [TINHTRANG]) VALUES (3, 2, N'P103', 15, N'xoan', CAST(0x0000A8E40003D613 AS DateTime), 1, N'mới', 1, N'rảnh')
SET IDENTITY_INSERT [dbo].[PHONG] OFF
INSERT [dbo].[PHONGDAT] ([IDDATPHONG], [IDNHANVIEN], [IDKHACHHANG], [TENNGUOIDAT], [SODIENTHOAI], [GIODAT], [GIOVAO], [GIORA], [SOTIENDATCOC], [TRANGTHAI], [GHICHU], [TINHTRANG], [THANHTOANTIENCOC]) VALUES (N'1', N'NV002', 2, N'THINH', N'0336370730', CAST(0x0000A9C800000000 AS DateTime), CAST(0x0000A9E800000000 AS DateTime), CAST(0x0000A9E800000000 AS DateTime), 500000, 1, NULL, N'TRONG', NULL)
INSERT [dbo].[PHONGDAT] ([IDDATPHONG], [IDNHANVIEN], [IDKHACHHANG], [TENNGUOIDAT], [SODIENTHOAI], [GIODAT], [GIOVAO], [GIORA], [SOTIENDATCOC], [TRANGTHAI], [GHICHU], [TINHTRANG], [THANHTOANTIENCOC]) VALUES (N'2', N'NV001', 3, N'THO', N'0002023262', CAST(0x0000AA0500000000 AS DateTime), CAST(0x0000AA2500000000 AS DateTime), CAST(0x0000AA2500000000 AS DateTime), 1000000, 1, NULL, N'TRONG', NULL)
INSERT [dbo].[PHONGDAT] ([IDDATPHONG], [IDNHANVIEN], [IDKHACHHANG], [TENNGUOIDAT], [SODIENTHOAI], [GIODAT], [GIOVAO], [GIORA], [SOTIENDATCOC], [TRANGTHAI], [GHICHU], [TINHTRANG], [THANHTOANTIENCOC]) VALUES (N'3', NULL, 2, N'thai', N'0221215512', NULL, NULL, NULL, 1890000, 1, NULL, NULL, NULL)
INSERT [dbo].[THONGTINNHANVIEN] ([IDNHANVIEN], [HOTEN], [DIACHI], [GIOITINH], [SODIENTHOAI], [NAMSINH], [NGAYVAOLAM], [SOCMND], [HINHANH], [NGUOITAOTTNV], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [EMAIL]) VALUES (N'NV001', N'Vũ Thị Thúy', N'15 Nguyễn Hữu Tiến', N'Nữ', N'01677558150', CAST(0x00008A0700000000 AS DateTime), CAST(0x0000A7C900000000 AS DateTime), N'241468321', NULL, N'NV01', CAST(0x0000A8CA00D1C249 AS DateTime), 1, N'ax', N'vthuthuy1996@gmail.com')
INSERT [dbo].[THONGTINNHANVIEN] ([IDNHANVIEN], [HOTEN], [DIACHI], [GIOITINH], [SODIENTHOAI], [NAMSINH], [NGAYVAOLAM], [SOCMND], [HINHANH], [NGUOITAOTTNV], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [EMAIL]) VALUES (N'NV002', N'dang quoc thinh', N'726/12 Lê Trọng Tấn', N'Nam', N'0918919180 ', CAST(0x0000000000000000 AS DateTime), CAST(0x0000000000000000 AS DateTime), N'194594837', N'_n.jpg', N'NV01', CAST(0x0000A8CB0186CFA9 AS DateTime), 1, N'systemadmin', N'ngocanhkooll@gmail.com')
INSERT [dbo].[THONGTINNHANVIEN] ([IDNHANVIEN], [HOTEN], [DIACHI], [GIOITINH], [SODIENTHOAI], [NAMSINH], [NGAYVAOLAM], [SOCMND], [HINHANH], [NGUOITAOTTNV], [THOIGIANTAO], [TRANGTHAI], [GHICHU], [EMAIL]) VALUES (N'NV003', N'Nguyễn Văn Quân', N'412 Nguyễn Du', N'Nam', N'0964587465 ', CAST(0x00008A5500000000 AS DateTime), CAST(0x0000A87200000000 AS DateTime), N'451236587', NULL, N'NV002', CAST(0x0000A8D40180018A AS DateTime), 1, N'new', N'nguyenvanquan@gmail.com')
/****** Object:  Index [PK_BANGGIATHIETBI]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[BANGGIATHIETBI] ADD  CONSTRAINT [PK_BANGGIATHIETBI] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAIVATCHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DICHVU]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [PK_DICHVU] PRIMARY KEY NONCLUSTERED 
(
	[IDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_GIAPHONGTHEOGIO]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[GIAPHONGTHEOGIO] ADD  CONSTRAINT [PK_GIAPHONGTHEOGIO] PRIMARY KEY NONCLUSTERED 
(
	[IDGIAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADON]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[IDHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHUYENMAI]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY NONCLUSTERED 
(
	[IDKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LICHSUHOATDONG]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[LICHSUHOATDONG] ADD  CONSTRAINT [PK_LICHSUHOATDONG] PRIMARY KEY NONCLUSTERED 
(
	[TENDANGNHAP] ASC,
	[IDHOADONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIDICHVU]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[LOAIDICHVU] ADD  CONSTRAINT [PK_LOAIDICHVU] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAIDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIKHUYENMAI]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[LOAIKHUYENMAI] ADD  CONSTRAINT [PK_LOAIKHUYENMAI] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAIKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NGUOIDUNG]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHONG]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHONGDAT]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[PHONGDAT] ADD  CONSTRAINT [PK_PHONGDAT] PRIMARY KEY NONCLUSTERED 
(
	[IDDATPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_QL_MANHINH]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[QL_MANHINH] ADD  CONSTRAINT [PK_QL_MANHINH] PRIMARY KEY NONCLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_QL_NHOMNGUOIDUNG]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[QL_NHOMNGUOIDUNG] ADD  CONSTRAINT [PK_QL_NHOMNGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_THONGTINNHANVIEN]    Script Date: 12/8/2019 10:51:35 AM ******/
ALTER TABLE [dbo].[THONGTINNHANVIEN] ADD  CONSTRAINT [PK_THONGTINNHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGGIATHIETBI] ADD  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[BANGGIATHIETBI] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONG] ADD  CONSTRAINT [DF__CHITIETBO__THOIG__145C0A3F]  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONG] ADD  CONSTRAINT [DF__CHITIETBO__TRANG__15502E78]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] ADD  CONSTRAINT [DF__CHITIETDA__TRANG__182C9B23]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETDICHVU] ADD  CONSTRAINT [DF__CHITIETDI__TRANG__1B0907CE]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETTIENPHONG] ADD  CONSTRAINT [DF__CHITIETTI__TRANG__1DE57479]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT (getdate()) FOR [THOIGIANTAODV]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[GIAPHONGTHEOGIO] ADD  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[GIAPHONGTHEOGIO] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF__HOADON__TRANGTHA__286302EC]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [DF__KHUYENMAI__THOIG__2F10007B]  DEFAULT (getdate()) FOR [THOIGIANTAOKM]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [DF__KHUYENMAI__TRANG__300424B4]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[LICHSUHOATDONG] ADD  CONSTRAINT [DF__LICHSUHOA__TRANG__32E0915F]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[LOAIDICHVU] ADD  DEFAULT (getdate()) FOR [THOIGIANTAOLDV]
GO
ALTER TABLE [dbo].[LOAIDICHVU] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[LOAIKHUYENMAI] ADD  DEFAULT (getdate()) FOR [THOIGIANTAOLKM]
GO
ALTER TABLE [dbo].[LOAIKHUYENMAI] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT (getdate()) FOR [THOIGIANTAOTK]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [DF__PHONG__THOIGIANT__46E78A0C]  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [DF__PHONG__TRANGTHAI__47DBAE45]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHONGDAT] ADD  CONSTRAINT [DF__PHONGDAT__TRANGT__4AB81AF0]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[QL_MANHINH] ADD  CONSTRAINT [DF__QL_MANHIN__THOIG__4D94879B]  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[QL_MANHINH] ADD  CONSTRAINT [DF__QL_MANHIN__TRANG__4E88ABD4]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[QL_NHOMNGUOIDUNG] ADD  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[THONGTINNHANVIEN] ADD  CONSTRAINT [DF__THONGTINN__THOIG__571DF1D5]  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[THONGTINNHANVIEN] ADD  CONSTRAINT [DF__THONGTINN__TRANG__5812160E]  DEFAULT ('true') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_RELATIONS_BANGGIAT] FOREIGN KEY([IDLOAIVATCHAT])
REFERENCES [dbo].[BANGGIATHIETBI] ([IDLOAIVATCHAT])
GO
ALTER TABLE [dbo].[CHITIETBOITHUONG] CHECK CONSTRAINT [FK_CHITIETB_RELATIONS_BANGGIAT]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_RELATIONS_HOADON] FOREIGN KEY([IDHOADON])
REFERENCES [dbo].[HOADON] ([IDHOADON])
GO
ALTER TABLE [dbo].[CHITIETBOITHUONG] CHECK CONSTRAINT [FK_CHITIETB_RELATIONS_HOADON]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_RELATIONS_PHONGDAT] FOREIGN KEY([IDDATPHONG])
REFERENCES [dbo].[PHONGDAT] ([IDDATPHONG])
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] CHECK CONSTRAINT [FK_CHITIETD_RELATIONS_PHONGDAT]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATPHONG_PHONG] FOREIGN KEY([TENPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] CHECK CONSTRAINT [FK_CHITIETDATPHONG_PHONG]
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_RELATIONS_DICHVU] FOREIGN KEY([IDDICHVU])
REFERENCES [dbo].[DICHVU] ([IDDICHVU])
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [FK_CHITIETD_RELATIONS_DICHVU]
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_RELATIONS_HOADON] FOREIGN KEY([IDHOADON])
REFERENCES [dbo].[HOADON] ([IDHOADON])
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [FK_CHITIETD_RELATIONS_HOADON]
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_RELATIONS_KHUYENMA] FOREIGN KEY([IDKHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([IDKHUYENMAI])
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [FK_CHITIETD_RELATIONS_KHUYENMA]
GO
ALTER TABLE [dbo].[CHITIETTIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETT_RELATIONS_CHITIETD] FOREIGN KEY([IDDATPHONG], [TENPHONG])
REFERENCES [dbo].[CHITIETDATPHONG] ([IDDATPHONG], [TENPHONG])
GO
ALTER TABLE [dbo].[CHITIETTIENPHONG] CHECK CONSTRAINT [FK_CHITIETT_RELATIONS_CHITIETD]
GO
ALTER TABLE [dbo].[CHITIETTIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETT_RELATIONS_HOADON] FOREIGN KEY([IDHOADON])
REFERENCES [dbo].[HOADON] ([IDHOADON])
GO
ALTER TABLE [dbo].[CHITIETTIENPHONG] CHECK CONSTRAINT [FK_CHITIETT_RELATIONS_HOADON]
GO
ALTER TABLE [dbo].[CHITIETTIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETT_RELATIONS_KHUYENMA] FOREIGN KEY([IDKHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([IDKHUYENMAI])
GO
ALTER TABLE [dbo].[CHITIETTIENPHONG] CHECK CONSTRAINT [FK_CHITIETT_RELATIONS_KHUYENMA]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_RELATIONS_LOAIDICH] FOREIGN KEY([IDLOAIDICHVU])
REFERENCES [dbo].[LOAIDICHVU] ([IDLOAIDICHVU])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_RELATIONS_LOAIDICH]
GO
ALTER TABLE [dbo].[GIAPHONGTHEOGIO]  WITH CHECK ADD  CONSTRAINT [FK_GIAPHONG_RELATIONS_LOAIPHON] FOREIGN KEY([IDLOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([IDLOAIPHONG])
GO
ALTER TABLE [dbo].[GIAPHONGTHEOGIO] CHECK CONSTRAINT [FK_GIAPHONG_RELATIONS_LOAIPHON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_RELATIONS_THONGTIN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[THONGTINNHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_RELATIONS_THONGTIN]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMA_RELATIONS_LOAIKHUY] FOREIGN KEY([IDLOAIKHUYENMAI])
REFERENCES [dbo].[LOAIKHUYENMAI] ([IDLOAIKHUYENMAI])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMA_RELATIONS_LOAIKHUY]
GO
ALTER TABLE [dbo].[LICHSUHOATDONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUHO_RELATIONS_NGUOIDUN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NGUOIDUNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[LICHSUHOATDONG] CHECK CONSTRAINT [FK_LICHSUHO_RELATIONS_NGUOIDUN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUN_RELATIONS_THONGTIN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[THONGTINNHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUN_RELATIONS_THONGTIN]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_QL_MANHI] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[QL_MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_QL_MANHI]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_QL_NHOMN] FOREIGN KEY([MANHOMNGUOIDUNG])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_QL_NHOMN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_RELATIONS_LOAIPHON] FOREIGN KEY([IDLOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([IDLOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_RELATIONS_LOAIPHON]
GO
ALTER TABLE [dbo].[PHONGDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDAT_RELATIONS_KHACHHAN] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKHACHHANG])
GO
ALTER TABLE [dbo].[PHONGDAT] CHECK CONSTRAINT [FK_PHONGDAT_RELATIONS_KHACHHAN]
GO
ALTER TABLE [dbo].[PHONGDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDAT_RELATIONS_THONGTIN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[THONGTINNHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[PHONGDAT] CHECK CONSTRAINT [FK_PHONGDAT_RELATIONS_THONGTIN]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_RELATIONS_NGUOIDUN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NGUOIDUNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_RELATIONS_NGUOIDUN]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_RELATIONS_QL_NHOMN] FOREIGN KEY([MANHOMNGUOIDUNG])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNG_NHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_RELATIONS_QL_NHOMN]
GO
